@import url('https://fonts.googleapis.com/css?family=Ubuntu');

html {
	box-sizing: border-box;
}

* {
  font-family: 'Ubuntu', sans-serif; 
  margin: 0px;
  padding: 0px;
}

body {
  background: #2A2C38;
  color: #fff;
  font-size: 1.5rem;
}

.container {
  text-align: center;
  margin: auto;
}

header {
  background-color: rgb(223, 200, 68);
  color: black;
  padding: 1rem;
  font-weight: 500;
}

.score {
  padding: 10px 0;
  border: 3px solid #fff;
  border-radius: 5px;
  width: 200px;
  margin: 2rem auto;
  font-size: 3rem;
  text-align: center;
  position: relative;
}

.icon {
  text-transform: uppercase;
  background: #2a2c38;
  color: #188ad0;
  padding: 10px 6px;
  border-radius: 5px;
}

#user {
  position: absolute;
	top: 50%;
	left: -57%;
  transform: translate(-10%, -50%);
  border: 3px solid #fff;
}

#comp {
  position: absolute;
	top: 50%;
	right: -75%;
  transform: translate(10%, -50%);
  border: 3px solid #fff;
  color: red;
  background: #2A2C38;
}

button {
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
  background: none;
  padding: 10px 20px;
  margin-bottom: 1rem;
  font-size: 1.3rem;
  cursor: pointer;
  transition: 0.5s;
}
button:hover {
  color: #3498db;
  background: rgb(255, 255, 255);
}

.result {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  color: rgb(30, 209, 188);
}

.choice {
  display: inline-flex;  
  padding: 1rem;  
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
}

.choice img {
	filter: invert(100%);
}

#message {
  text-align: center;
	font-weight: 1000;
	text-transform: uppercase;
  letter-spacing: 2px; 
  color: #fff; 
  text-decoration: underline;
}



